.users {
  padding: 150px 30px 115px;
  background-color: #f9f9f3;

  &__title{
    text-align: center;
    margin-bottom: 18px;
    font-size: 50px;
    line-height: 54px;
    font-weight: 400;
  }

  &__mark {
    text-align: center;
    margin-bottom: 75px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    justify-content: center;
    justify-items: center;
    // grid-gap: 30px;
    margin-bottom: 100px;
  }


  &__button {
    display: block;
    margin: 0 auto;

    &--hidden {
      // display: none;
      transform: scale(0);
    }
  }
}
