.users {
  padding: 150px 30px 115px;
  background-color: #f9f9f3;

  &__title{
    text-align: center;
    margin-bottom: 18px;
    font-size: 50px;
    line-height: 54px;
    font-weight: 400;
  }

  &__mark {
    text-align: center;
    margin-bottom: 75px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(205px, 350px));
    justify-content: center;
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 100px;
  }


  &__button {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 210px;
    font-size: 16px;
    color: white;
    background-color: #EF5B4C;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;

    &--hidden {
      transform: scale(0);
    }
  }
}
