.users {
  padding: 105px 0 115px 30px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__button {
    display: block;
    margin: 0 auto;

    &--hidden {
      display: none;
    }
  }
}