*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}