.registration {
  padding: 105px 115px;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__mark {
    text-align: center;
    margin-bottom: 50px;

    &--error {
      margin-top: 3px;
      font-size: 14px;
      line-height: 16px;
      color: red;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    width: 468px;
    margin: 0 auto;
  }

  &__input {
    outline: none;
    padding: 0 10px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #b7bdc4;
    border-radius: 5px;
    font-size: 14px;

    &::placeholder {
      color: #b7bdc4;
    }

    &:focus,
    &:active {
      border-color: #96c9fe;
      box-shadow: 0px 0px 2px 3px rgba(150, 201, 254, 0.2);
    }
  }

  &__label {
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__phone-mark {
    color: #b7bdc4;
    margin-bottom: 30px;
  }

  &__position {
    margin-bottom: 20px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 210px;
    font-size: 16px;
    color: white;
    background-color: #EF5B4C;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
  }

  &__input--error,
  &__input--error:focus,
  &__input--error:active {
    border: 1px solid red;
  }

  &__input--error:focus,
  &__input--error:active {
    box-shadow: 0px 0px 2px 3px rgba(255, 0, 0, 0.2);
  }
  
  &__file {
    user-select: none;
    margin-bottom: 30px;
  }
  
  &__file-label {
    display: flex;
    cursor: pointer;
    position: relative;
  }
  
  &__file-input {
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    width: 100%;
  }

  &__fields-wrapper {
    display: flex;
    border: 1px solid #b7bdc4;
    border-radius: 5px;
    width: 100%;
  }

  &__file-name {
    padding: 0 10px 0;
    color: #b7bdc4;
    width: 80%;
  }
  
  &__file-cta {
    flex-grow: 1;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #b7bdc4;
    background-color: #f5f5f5;
  }
  
  &__file-name,
  &__file-cta {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 38px;
    line-height: 1.5;
  }

  &__file-input:focus ~ &__fields-wrapper,
  &__file-input:active ~ &__fields-wrapper {
    border: 1px solid #96c9fe;
    box-shadow: 0px 0px 2px 3px rgba(150, 201, 254, 0.2);
  }

  &__file-input:focus ~ &__fields-wrapper &__file-cta,
  &__file-input:active ~ &__fields-wrapper > &__file-cta {
    border-left: 1px solid #96c9fe;;
  }

  &__file-input--error ~ &__fields-wrapper,
  &__file-input--error:focus ~ &__fields-wrapper,
  &__file-input--error:active ~ &__fields-wrapper {
    border: 1px solid red;
  }

  &__file-input--error:focus ~ &__fields-wrapper,
  &__file-input--error:active ~ &__fields-wrapper {
    box-shadow: 0px 0px 2px 3px rgba(255, 0, 0, 0.2);
  }

  &__success-window {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(117, 117, 117, 0.2);
    width: 100%;
    height: 100vh;

    &--close {
      display: none;
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: white;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__button-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
  }

  &__button-close {
    border-width: 0;
    background-color: transparent;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
  }

  &__image-close {
    width: 100%;
    display: block;
  }

  &__modal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 60px;
    padding: 0 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  &__button-success {
    height: 40px;
    width: 80px;
    align-self: flex-end;
    font-size: 16px;
    color: white;
    background-color: #EF5B4C;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
  }
}


