.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 calc(50% - #{1170px / 2});
  font-size: 14px;
  background-color: #FFF;
  
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    height: 60px;
  }



  &__logo {
    height: 20px;
    display: block;
    transition: all 0.3s linear;
    width: fit-content;

    &--disable {
      transform: scale(0)
    }

    &--active {
      margin-left: 30px;

      &::after {
        content: '';
        position: absolute;
        bottom: -21px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: grey;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 446px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menu-container {
    display: flex;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in;

    &--active {
      left: 0;
    }
  }

  &__logo-wrapper {
    position: relative;
    margin-bottom: 50px;
  }

  &__menu-nav {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    background-color: #FFF;
    padding-top: calc(60px / 2 - #{20px / 2});
  }

  &__menu-item {
    padding-left: 30px;

    &:not(:nth-child(5n)) {
      margin-bottom: 15px;
    }

    &:nth-child(5n) {
      margin-bottom: 50px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -21px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: grey;
      }
    }

    &:last-child {
      margin-bottom: 0;
      &::after {
        display: none;
      }
    }
  }

  &__menu-mask {
    background-color: rgba($color: #000000, $alpha: 0.1);
    flex-grow: 1;
  }

  &__menu-button {
    padding: 0;
    height: 15px;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__menu-icon {
    display: block;
  }
}